/node_modules
/public/hot
/public/temp
/public/storage
/public/test.php
/public/test2.php
/public/exams
/public/js
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
